%p#notice= notice

%p
  %b Account:
  = @invoice.account
%p
  %b Amount:
  = @invoice.amount
%p
  %b Note:
  = @invoice.note

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
