= simple_form_for(add_fund,  html: { class: 'form-horizontal' }, wrapper: :horizontal_form,
	wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
		radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean} ) do |form|
    %fieldset

        = form.error_notification
        = form.input :account_id, collection: current_user.accounts, blank: false
        = form.input :amount, label: "Consumption Amount"
        = form.input :note
        = form.button :submit, class: "btn btn-success"