.present{horizontal:true, layout:true}
	.present_left{flex:true, 'self-center'=>true}
		%h3.present__logo MoneyBit.me
		%p.present__slogan Возможно, самая простая система учета ваших финансов, которую вы можете найти!
		%paper-button.present__registry{raised:true, fill:true}
			= link_to "Зарегиститроваться сейчас!", new_user_registration_path
	.present__image{flex:true}
		= image_tag "EasilyEditOnYourMac.png"
.promo__block{vertical:true, layout:true, center:true}
	.promo__header-block
		%h2.promo__header 3 Причины регистрации на MoneyBit.me
	.promo{horizontal:true, layout:true}
		%promo-card{flex:true}
			= image_tag "kopilka.png"
			%h4 Вы всегда знаете куда уходят ваши деньги.
			%p= t('promo_text_money')
		%promo-card{flex:true}
			= image_tag "accounts.png"
			%h4 С легкостью управляйте счетами.
			%p Знаете ли вы, свой собственный капитал? Сколько у вас в копилке? Или в вашем банке? Визуализация эти цифры даст вам большое чувство. Такой мир.
		%promo-card{flex:true}
			= image_tag "goals.png"
			%h4 Ваше финансовое развитие
			%p Вы сможете увидеть, что в двух простых графики.Шесть месяцев расходы по сравнению с графика доходов и ежемесячные расходы категории графике. Время гордиться!
	%paper-button.promo__registry{raised:true, fill:true}
		= link_to "Зарегистируйтесь!", new_user_registration_path, class: "btn btn-primary btn-raised btn-lg"





