%div{layout:true, vertical:true, center:true}
  %sign-card
    %core-icon{icon:"social:person-add"}
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', id:"polymer_form"}) do |f|
      %h3 Sign in
      = devise_error_messages!
      %paper-input-decorator{ :label => :email, floatingLabel:true }
        = f.email_field :email, :autofocus => true
      %paper-input-decorator{ :label => :password, floatingLabel:true }
        = f.password_field :password
      .member_forgot__block{layout:true, horizontal:true}
        .member__block{flex:true}
          - if devise_mapping.rememberable?
            %checkbox-input{label:"Remember Me"}
              = f.check_box :remember_me
        .forgot__block{flex:true}
          - if devise_mapping.recoverable?
            %paper-button{noink:true}
              = link_to "Forgot password?", new_password_path(resource_name)
      .buttons__block{layout:true, horizontal:true}
        .sign_up__block{flex:true}
          - if devise_mapping.registerable?
            = link_to new_registration_path(resource_name) do
              %paper-button.sign__up Sign up
              
        .sign_in__block
<<<<<<< HEAD
          = f.button :submit, is:"paper-button-submit"

          
=======
          %paper-button#submit_button.sign__in Submit
>>>>>>> a12e4a950d715ac71cdd6b4446fd3c153e7ed7cf
