!!!
%html{lang: "ru", itemscope:true, itemtype:"http://schema.org/Product"}
  %head
    %meta{'http-equiv'=>"X-UA-Compatible", content:"IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes", :charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : 'MoneyBit.me'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'BitMoney'}"}
    %meta{itemprop:"brand", content:"MoneyBit"}
    %meta{}
    = google_webfonts_init({google: ['Roboto Condensed', 'Open Sans', 'Kaushan Script', 'Roboto', 'RobotoDraft']})

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = html_import_tag 'application'
    = csrf_meta_tags

  %body{unresolved:true}
    %header
      = link_to 'MoneyBit.me', "/", class: "header__logo"
    -#%core-media-query{query:"min-width: 581px", queryMatches:"{{phoneScreen}}"}
    -#%app-header-panel{mode:"waterfall"}
    -#  = render :partial => "layouts/navigation"
    -#  .main{flex:true}
    -#    = yield
    -#  .footer__links
    -#    = link_to "О нас", page_path('about'), class:"footer__link"
    -#  .footer__copyright{layout:true, center:true, horizontal:true}
    -#    %span Copyright © MoneyBit.me 2015

    = javascript_include_tag "body"
